<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <table>
        <tr>
            <th>Category</th>
            <th>Amount</th>
            <th>Paid?</th>
        </tr>
        <tr th:each="expense : ${expenses}">
            <td>
                <p th:text="${expense.category.description}"></p>
            </td>
            <td>
                <p th:text="${expense.amount}"></p>
            <td>
                <p th:text="'paid: '+${expense.status}"></p>
            </td>
            </td>
        </tr>

    </table>
<br>
    </div>
    </br>
</div>
<form method="POST" action="}">
    <button type="submit">Add</button>
</form>
<form method="GET" action="../logout">  <button type="submit">Log Out Of Barclays Expenses Tracker</button></form>
</body>
</html>